Source: com.github.sgpthomas.hourglass
Section: x11
Priority: extra
Maintainer: Sam Thomas <sgpthomas@gmail.com>
Build-Depends: appstream,
               debhelper (>= 10.5.1),
               libgee-0.8-dev,
               libgranite-7-dev (>= 7.1.0),
               libglib2.0-dev,
               libportal-dev,
               libportal-gtk4-dev,
               meson (>= 0.57.0),
               valac
Standards-Version: 4.5.0
Homepage: https://github.com/sgpthomas/hourglass

Package: com.github.sgpthomas.hourglass
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: A simple timer and alarm application
 Hourglass is an application designed for elementary OS. It provides some simple time, stopwatch, and alarm functionality.
