@define-color accent_color @LIME_700;

.round-button {
    padding: 6px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 15px;
}

.round-button:disabled {
    opacity: 0.4;
}

.red-button {
    color: #ffffff;
    background: linear-gradient(#DF4B4B, #BF4040);
    border: 1px solid darker(#DF4B4B);
}

.timer {
    font-size: 48px;
    font-family: Open Sans Light;
}

.time-box {
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 20px;
    font-size: 12pt;
    font-weight: bold;
}

.time-daytime {
    color: #ad5f00;
    background: #fff394;
}

.time-night {
    color: #95a3ab;
    background: #273445;
}
