@define-color accent_color @LIME_700;

.round-button {
    padding: 6px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 15px;
}

.round-button:disabled {
    opacity: 0.4;
}

.red-button {
    color: #ffffff;
    background: linear-gradient(#DF4B4B, #BF4040);
    border: 1px solid darker(#DF4B4B);
}

.timer {
    font-size: 48px;
    font-family: Open Sans Light;
}
