.round-button {
    padding: 5px;
    border-radius: 15px;
}

.round-button:disabled {
    opacity: 0.4;
}

.green-button {
    color: #ffffff;
    background: linear-gradient(#009F51, #008041);
    border: 1px solid darker(#008F43);
}

.red-button {
    color: #ffffff;
    background: linear-gradient(#DF4B4B, #BF4040);
    border: 1px solid darker(#DF4B4B);
}

.timer {
    font-size: 48px;
    font-family: Open Sans Light;
}
