[Desktop Entry]
Type=Application
Name=Hourglass
Comment=This clock application provides stopwatches, alarms, and timers.
Comment[lt]=Ši laikrodžio programa pateikia chronometrus, žadintuvus ir laikmačius.
GenericName=Timer
GenericName[lt]=Laikmatis
StartupWMClass=com.github.sgpthomas.hourglass
Exec=com.github.sgpthomas.hourglass
Icon=hourglass
Terminal=false
Categories=GNOME;GTK;Utility;
Keywords=Timer;Time;Clock;Hourglass;Alarm;
X-GNOME-Keywords=Timer;Time;Clock;Hourglass;Alarm;
StartupNotify=true
X-GNOME-Gettext-Domain=hourglass
Actions=AboutDialog;

[Desktop Action AboutDialog]
Exec=hourglass --about
Name=About Hourglass
Name[lt]=Apie Hourglass
